:root {
    --primary: #A5C882;
    --secondary: #00ABB3;
    --light: #fff;
    --dark: #000;
    --diabled: #e4e4e4;
    --bg-main: #3C4048;
    --delete: #b91212;
}

body {
    font-family: 'Lato', sans-serif;
    margin: 0;
    height: 100vh;
    background-color: var(--bg-main);
}

h1{
    align-items: center;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-top: 7rem;
    color: var(--light);
}
@media (max-width: 468px) {
    h1{
        padding-left: 7rem; 
    }
    
}

*:first-letter {
    text-transform: capitalize;
}

.roundBorder {
    border-radius: 5px;
}

.list {
    margin: 5rem auto;
    padding: 25px;
    padding-right: 4rem;
    background-color: var(--light);
    width: 100%;
    max-width: 350px;
}

.date {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.dateRight {
    display: flex;
    align-items: center;
}

#dateNumber {
    font-size: 50px;
}

#dateText {
    letter-spacing: 3px;
    text-transform: uppercase;
}

#dateMonth,
#dateNumber,
#dateText  {
    font-weight: bold;
}

#dateMonth,
#dateYear {
    margin-left: 7px;
    font-size: 20px;
}

form {
    margin: 20px 0;
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: auto 35px auto;
    grid-column-gap: 15px;
}

input {
    border: none;
    padding-left: 10px;
    background-color: var(--diabled);
}

input:focus {
    outline: none;
}

.addTaskButton,
.orderButton {
    border: none;
    font-weight: bold;
    cursor: pointer;
}


.addTaskButton:hover{
    color: var(--secondary);
}

.orderButton:hover{
    color: var(--dark);
}

.addTaskButton {
    height: 35px;
    border-radius: 50%;
    font-size: 18px;
    background-color: var(--diabled);
}

.orderButton {
    background-color: var(--secondary);
    color: var(--light);
}

.deleteButton{
    color: var(--light);
    border: none;
    font-weight: bold;
    cursor: pointer;
    background-color: var(--delete);
    
}

.deleteButton:hover{

    color: var(--dark);
}

.task {
    background-color: var(--primary);
    padding: 15px;
    margin-top: 15px;
    color: var(--light);
    cursor: pointer;
}

.done {
    background-color: var(--diabled);
    text-decoration: line-through;
    color: var(--dark);
}
